<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelflow City Web App</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/cadastro.css">
</head>

<body>
    <div class="app">
        <header>
            <nav>
                <li>
                    <a class="logo" href="index.html">
                        <img src="../../assets/img/city.svg" alt="Logo cidade">
                    </a>
                </li>
                <li>
                    <a href="lista.html" class="btn">Lista de Cidades</a>
                </li>
                <li class="tooltip">
                    <a href="cadastro.html" class="btn plus">
                        +
                        <span class="tooltiptext">Cadastrar nova cidade</span>
                    </a>
                </li>
            </nav>
        </header>

        <div id="main">
            <h2>Cadastrar nova Cidade</h2>
            <form action="lista.html" id="cidade-form">
                <div class="cadastro-form">
                    <label>Nome:</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite o nome da cidade...">
                    <p id="msgNome"></p>

                    <label>Estado:</label>
                    <select name="estado" id="estado">
                        <option value="selecione" disabled selected>selecione</option>
                    </select>
                    <p id="msgEstado"></p>

                    <label>Código IGBE:</label>
                    <input type="text" name="ibgecod" id="ibgecod" disabled>
                    <p id="msgIBGE"></p>

                    <label>População estimada:</label>
                    <input type="number" name="populacao" id="populacao">
                    <p id="msgPopulacao"></p>

                    <label>Observações:</label>
                    <textarea name="obs" id="obs"
                        placeholder="Campo de observações sobre a cidade a ser cadastrada"></textarea>
                </div>
                <div class="buttons-div">
                    <input type="reset" value="Resetar Formulário" class="btn ">
                    <input type="submit" value="Cadastrar" class="btn cadastrar disabled" disabled>
                </div>
            </form>
        </div>

        <footer>
            <p>Alguns direitos reservados.</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../assets/js/cadastro.js"></script>
    <script src="../../assets/js/queryString.js"></script>
    <script src="../indexedDB/main.js"></script>
</body>

</html>