<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelflow City Web App</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>

<body>
    <div class="app">
        <header>
            <nav>
                <li>
                    <a class="logo" href="index.html">
                        <img src="../../assets/img/city.svg" alt="Logo cidade">
                    </a>
                </li>
                <li>
                    <a href="lista.html" class="btn">Lista de Cidades</a>
                </li>
                <li class="tooltip">
                    <a href="cadastro.html" class="btn plus">
                        +
                        <span class="tooltiptext">Cadastrar nova cidade</span>
                    </a>
                </li>
            </nav>
        </header>

        <div id="main">
            <div id="form-busca">
                <input name="busca" id="busca" type="text" placeholder="Buscar cidade...">
                <input type="submit" id="lupa" value="Buscar">
            </div>
            <section class="cidades-container">
                <div class="cidades">
                    <!-- <div class="cidade">
                        <a href="">
                            <h2 class="nome">Rio Grande/RS</h2>
                            <strong>
                                <p>Código IBGE: 2323223</p>
                            </strong>
                            <p>População estimada: 42343234 habitantes</p>
                            <h3 class="clima">O clima agora:</h3>
                            <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="">
                            <p>tkjfkfj</p>
                            <p>tkjfkfj</p>
                            <p>tkjfkfj</p>
                            <p>tkjfkfj</p>
                        </a>
                    </div> -->
                </div>
            </section>
        </div>
        <footer>
            <p>Alguns direitos reservados.</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../indexedDB/main.js"></script>
    <script src="../../assets/js/busca.js"></script>
</body>

</html>