<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cidades</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/lista.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <li>
                    <a class="logo" href="index.html">
                        <img src="../../assets/img/city.svg" alt="Logo cidade">
                    </a>
                </li>
                <li>
                    <a href="lista.html" class="btn">Lista de Cidades</a>
                </li>
                <li class="tooltip">
                    <a href="cadastro.html" class="btn plus">
                        +
                        <span class="tooltiptext">Cadastrar nova cidade</span>
                    </a>
                </li>
            </nav>
        </header>

        <div id="main">
            <section class="grid">
            </section>
        </div>
        <footer>
            <p>Alguns direitos reservados.</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../indexedDB/main.js"></script>
    <script src="../../assets/js/lista.js"></script>
</body>

</html>