.cadastro-form {
    display: grid;
    /* grid-template-columns: 20% 1fr; */
    align-items: center;
    font-size: 22px;
    width: 60%;
    outline: none;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .cadastro-form {
        width: 90%;
    }

    input[type=submit],
    input[type=reset] {
        width: 200px;

    }
}

@media screen and (max-width: 550px) {
    .buttons-div {
        grid-template-columns: 100% !important;
    }

    .buttons-div input {}
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    outline: none;
    box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
    transform: scale(1.05);
    transition: all 0.3s;
}


.cadastro-form label {
    text-align: left;
    padding: 0 20px 10px 0;
}

.buttons-div {
    display: grid;
    grid-template-columns: 30% 30%;
    margin: 20px 0 -40px 0;
}

.buttons-div input {
    margin-right: 30px;
}

.cadastrar {
    background-color: #57B793;
}

.disabled {
    background-color: rgb(87, 87, 87);
    cursor: not-allowed;
}

.cadastro-form input,
textarea,
select {
    border: solid 0.5px rgba(78, 78, 78, 0.404);
    border-radius: 15px;
    min-width: 200px;
}

select {
    max-width: 200px;
    background-color: white;
}

option:hover {
    background-color: #57B793;
    color: white;
}

.cadastro-form input {
    max-width: 80%;
}

#main {
    margin-left: 10%;
}

h2 {
    color: #57B793;
    font-size: 35px;
}

.red {
    color: rgba(192, 0, 0, 0.74);
    font-size: 15px;
    padding: 0 0 5px 5px;
    margin-top: -5px;
}

.green {
    color: rgba(87, 183, 148, 0.89);
    font-size: 15px;
    padding: 0 0 5px 5px;
    margin-top: -5px;
}


input:hover,
input:focus,
textarea:hover,
select:focus,
select:hover,
textarea:focus {
    outline: none;
}