#form-busca {
    max-width: 600px;
    margin: 30px auto 60px auto;
    position: relative;
}

@media screen and (max-width: 700px) {
    #form-busca {
        max-width: 70%;
    }
}

#form-busca:hover {
    outline: none;
    transform: scale(1.1);
    transition: all 0.3s;
}

#busca {
    font-size: 18px;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 15px;
    color: rgb(70, 70, 70);
    box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
    transition: all 0.3s;
}

#lupa {
    box-shadow: none;
    width: 62px;
    height: 62px;
    background: url("../../assets/img/lupa.svg") no-repeat center center;
    text-indent: -150px;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
}


/* item cidade */

.cidades-container {
    max-width: 90%;
    margin: 0 auto;
}

.cidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px;
}

.cidade img {
    display: block;
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .cidades {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .cidades {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cidade {
    box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
    padding: 10px;
    background: white;
    border-radius: 4px;
    transition: all 0.2s;
    min-width: 200px;
}

.cidade:hover {
    box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
    transform: scale(1.1);
    position: relative;
    z-index: 1;
}

.cidade p,
.nome,
.clima {
    text-align: center;

}

.cidade p {
    padding: 10px 0 10px 0;
}

.nome {
    color: #57B793;
    margin-bottom: 10px;
}


.clima {
    color: #6F78FC;
    font-weight: bold;
    margin-bottom: 5px;
    border-top: rgba(53, 53, 53, 0.377) solid 0.5px;
    padding-top: 10px;
}

.sem-resultado {
    text-align: center;
    margin-top: 30px;
}